<link rel="stylesheet" href="/css/boilerplate/footer.css">

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i href="/" class="fa-brands fa-linkedin"></i>
            <i href="/" class="fa-brands fa-square-instagram"></i>
            <i href="/" class="fa-brands fa-square-facebook"></i>
        </div>
        <div>&copy; TownTies Private Limited</div>
        <div class="f-info-links">
            <a href="/">Privacy</a>
            <a href="/">Terms</a>
        </div>
    </div>
</footer>