<% layout("/layouts/boilerplate.ejs"); %>

    <link rel="stylesheet" href="/css/home.css">

    <div class="home-bg">
        <div class="intro-container">
            <div class="welcome">
                <p id="welcometo">Welcome to <strong>TownTies</strong></p>
                <p id="welcomep2">Where We Connect with People
                    <br>Around Us!
                </p>
                <a href="/joinforum">Join or Create a Forum</a>
            </div>
            <div class="home-illus">
                <!-- <img src="C:\Users\Aakarsh Goyal\Downloads\TownTiesImages\undraw_community_re_cyrm.svg" alt=""> -->

                <img src="/images/undraw_community_re_cyrm.svg" id="svg" alt="">
            </div>
        </div>
    </div>