<% layout("/layouts/boilerplate.ejs"); %>

    <link rel="stylesheet" href="/css/forum/joinforum.css">

    <div class="gradbg">
        <div class="joinillus">
            <img src="/images/undraw_add_friends_re_3xte.svg" id="svg" alt="">
        </div>

        <div class="join">
            <div class="container center-content">
                <form class="col-6 offset-3" id="forumForm" enctype="multipart/form-data" method="POST" action="/joinforum">
                    <h3 class="text-center mb-4">Join or Create a Forum</h3>
                    <div class="mb-3">
                        <label for="forumType" class="form-label">Select</label>
                        <select class="form-control" id="forumType">
                            <option value="join">Join Forum</option>
                            <option value="create">Create Forum</option>
                        </select>
                    </div>
                    <div id="joinForumInput" class="mb-3" style="display: none;">
                        <label for="forumRef" class="form-label">Join Forum</label>
                        <input type="text" class="form-control" id="forumRef" name="forumref" placeholder="Enter a referral code">
                    </div>
                    <div id="createForumInput" class="mb-3" style="display: none;">
                        <label for="forum[name]" class="form-label">Create Forum</label>
                        <input type="text" class="form-control mb-3" id="forum[name]" name="forum[name]" placeholder="Enter forum name">

                        <label for="forum[icon]" class="form-label">Set Forum Icon</label>
                        <input class="form-control" type="file" id="forum[icon]" name="forum[icon]" accept="image/*">
                    </div>
                    <button type="submit" id="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    </div>

    <script>
        document.getElementById('forumType').addEventListener('change', function () {
            var joinInput = document.getElementById('joinForumInput');
            var createInput = document.getElementById('createForumInput');
            var imageInput = document.getElementById('imageInput');

            if (this.value === 'join') {
                joinInput.style.display = 'block';
                createInput.style.display = 'none';
                imageInput.style.display = 'none';
            } else if (this.value === 'create') {
                joinInput.style.display = 'none';
                createInput.style.display = 'block';
                imageInput.style.display = 'block';
            }
        });

        window.onload = function () {
            var defaultOption = document.getElementById('forumType').value;
            if (defaultOption === 'join') {
                document.getElementById('joinForumInput').style.display = 'block';
                document.getElementById('imageInput').style.display = 'none';
            }
        };
    </script>