<% layout("/layouts/boilerplate.ejs"); %>

<link rel="stylesheet" href="/css/forum/mart.css">

    <div id="mart-parent">
        <div id="mart-container">
            <div id="mart">
                <div id="mart-forum-name">
                    <h5>Marketplace</h5>
                    <!-- <h6>Forum Name</h6> -->
                </div>
                <div id="products">
                    <div>
                        <h4 id="all-products">All Products</h4>
                        <div>
                            <div id="product-listing">
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Product Title</h5>
                                        <p class="card-text">Posted by *Owner's name*</p>
                                        <p href="#" class="btn btn-primary">$999</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mart-chat-container">
            <div id="mart-chat">
                <div id="chat-forum-name">
                    <h5>Forum Name</h5>
                </div>
                <div id="chat-area">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo optio dolore blanditiis
                        consequuntur accusantium ea amet quos sed soluta error alias nostrum eveniet itaque sit culpa,
                        temporibus fugiat. Quidem, deserunt.
                        Quo, odit. Possimus a facere fugiat quae quasi quis nihil praesentium officia fugit quod earum,
                        quibusdam nulla distinctio placeat facilis explicabo. Distinctio sunt totam porro ut velit nisi.
                        Corrupti, esse.
                        Iusto consequatur incidunt doloribus sapiente provident, quae enim, sequi itaque sed obcaecati
                        maiores dicta, officiis libero ducimus excepturi in quisquam? Sunt, laudantium obcaecati eos
                        totam hic quidem est possimus dolorum!
                        Fugiat minima cumque recusandae. In provident eum voluptate ipsa, incidunt mollitia culpa
                        expedita excepturi autem accusamus possimus alias corporis delectus fuga aut dolore eius,
                        laboriosam optio distinctio perspiciatis illo minus.
                        Eum cum a tempore natus ipsum sunt voluptatibus voluptas, provident necessitatibus unde neque
                        sed exercitationem vero eligendi nobis. Minima animi veniam in nostrum repellendus, quisquam quo
                        possimus maiores corrupti vel!
                        Non maxime mollitia repellat illo facilis voluptate deserunt voluptates, modi repellendus alias
                        beatae sunt unde saepe tempore esse voluptatibus neque cupiditate. Voluptatum sed doloribus, at
                        odio nemo architecto sint dignissimos.
                        Assumenda eaque accusamus doloremque laborum incidunt maxime ullam velit repellat numquam
                        excepturi magni laboriosam ex sed ratione quo a, saepe amet necessitatibus deleniti voluptate
                        ipsum consectetur! Voluptate omnis blanditiis quo.
                        Quo dolorum dolore corporis earum in itaque repellendus quas nam illo doloremque fugit sequi
                        libero, voluptas officia iste. Laboriosam et molestiae quo maxime fugit quas quia distinctio at
                        qui porro!
                        Quam repudiandae consectetur blanditiis quia illo rerum, distinctio, aspernatur voluptatibus
                        provident possimus modi, quod velit cupiditate. Ad pariatur molestias repellendus voluptas, vero
                        dignissimos iure ab sunt earum debitis praesentium at.
                        Necessitatibus inventore sapiente odio modi iste nobis nam dignissimos repellat magnam
                        architecto magni, illo ore quam laboriosam ipsam dolore officia doloremque aut alias tenetur
                        voluptate? Sunt, sapiente, dolore, sequi eligendi non unde pariatur corporis assumenda id
                        deserunt facere placeat.</p>
                </div>
                
            </div>
            <div id="chat-input">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>