<% layout("/layouts/boilerplate.ejs"); %>
    <div class="new-product col-8 offset-2 mt-4 mb-4">
        <div id="new-form-container">
            <h3 id="new-heading" class="text-center">Add New Product</h3>
            <form action="/new-product" method="POST" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="product[title]" placeholder="Write a catchy title"
                        id="title" required>
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="product[description]" id="description" cols="5" rows="2"
                        placeholder="Describe your product in detail" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" name="product[category]">
                        <option disabled selected>Select a category</option>
                        <option>Vehicles and their accessories</option>
                        <option>Real Estate</option>
                        <option>Electronics & Appliances</option>
                        <option>Furniture</option>
                        <option>Home & Garden</option>
                        <option>Kids & Babies</option>
                        <option>Services</option>
                        <option>Animals</option>
                        <option>Clothing and Fashion</option>
                        <option>Cosmetics</option>
                        <option>Books and Media</option>
                        <option>Sports and Outdoor Gear</option>
                        <option>Toys and Games</option>
                        <option>Health and Wellness</option>
                        <option>Food and Groceries</option>
                        <option>Stationery</option>
                        <option>Travel and Luggage</option>
                        <option>Music</option>
                        <option>Other</option>
                    </select>
                </div>
                <div id="customCategoryInput" class="mb-3" style="display: none;">
                    <input class="form-control" type="text" name="product[customCategory]" id="customCategory"
                        placeholder="Enter category">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input class="form-control" type="file" id="image" value="Upload" name="product[image]" accept="image/*">
                </div>
                <div class="mb-3">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="product[price]" placeholder="Enter price" id="price"
                        required>
                </div>
                <div class="mb-3">
                    <label for="contactNumber">Contact Number</label>
                    <input class="form-control" type="number" name="product[contactNumber]"
                        placeholder="Enter your contact number" id="contactNumber" required>
                </div>
                <div id="new-form-btn-div">
                    <button type="submit" class="btn btn-primary btn-block text-center col-4 offset-4"
                        id="new-form-btn">Add</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var categorySelect = document.getElementById('category');
            var customCategoryInput = document.getElementById('customCategoryInput');

            categorySelect.addEventListener('change', function () {
                if (categorySelect.value === 'Other') {
                    customCategoryInput.style.display = 'block';
                } else {
                    customCategoryInput.style.display = 'none';
                }
            });
        });
    </script>