<% layout("/layouts/boilerplate.ejs"); %>

    <div class="new-product col-8 offset-2 mt-4">
        <div id="new-form-container">
            <h3 id="new-heading" class="text-center">Add New Product</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="listing[title]" placeholder="Write a catchy title"
                        id="title" required>
                    <!-- <div class="valid-feedback">Looks good!</div> -->
                </div>
                <div class="mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description" cols="5" rows="2"
                        placeholder="Describe your product in detail" required></textarea>
                    <!-- <div class="invalid-feedback">Plese enter a short description</div> -->
                </div>
                <div class="mb-3">
                    <label for="category">Category</label>
                    <select id="category" class="form-control">
                        <option disabled selected>Select a category</option>
                        <option>Vehicles and their accessories</option>
                        <option>Real Estate</option>
                        <option>Electronics & Appliances</option>
                        <option>Furniture</option>
                        <option>Home & Garden</option>
                        <option>Kids & Babies</option>
                        <option>Services</option>
                        <option>Animals</option>
                        <option>Clothing and Fashion</option>
                        <option>Cosmetics</option>
                        <option>Books and Media</option>
                        <option>Sports and Outdoor Gear</option>
                        <option>Toys and Games</option>
                        <option>Health and Wellness</option>
                        <option>Food and Groceries</option>
                        <option>Stationery</option>
                        <option>Travel and Luggage</option>
                        <option>Music</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="image">Image</label>
                    <input class="form-control" type="text" name="listing[image]" placeholder="Enter image URL"
                        id="image">
                </div>
                <div class="mb-3">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="listing[price]" placeholder="Enter price" id="price"
                        required>
                    <!-- <div class="invalid-feedback">Please enter a valid price</div> -->
                </div>
                <div class="mb-3">
                    <label for="price">Contact Number</label>
                    <input class="form-control" type="number" name="listing[price]"
                        placeholder="Enter your contact number" id="price" required>
                    <!-- <div class="invalid-feedback">Please enter a valid price</div> -->
                </div>
                <!-- <div class="mb-3">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="listing[location]" placeholder="Enter location"
                    id="location" required>
            </div> -->
                <!-- <div class="mb-3">
                <label for="country">Country</label>
                <input class="form-control" type="text" name="listing[country]" placeholder="Enter country" id="country"
                    required>
            </div> -->
                <div id="new-form-btn-div">
                    <button type="submit" class="btn btn-primary btn-block text-center col-4 offset-4"
                        id="new-form-btn">Add</button>
                </div>
            </form>
        </div>
    </div>