<% layout("/layouts/boilerplate.ejs"); %>
<link rel="stylesheet" href="/css/boilerplate/users/signup.css">

<div class="container center-content mb-4">
    <form class="col-4 offset-4" novalidate class="needs-validation" action="/signup" method="POST">
        <h3 class="text-center mt-4">Sign Up</h3>
        <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                    Enter your Username
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter your email address" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Choose a password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block text-center col-4 offset-4">Signup</button>
        <div class="text-center mt-3">
            <p>Already have an account? <a href="/users/login">Log In</a></p>
        </div>
    </form>
</div>
